body {
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link:hover {
    color: yellow !important;
}

header {
    background: linear-gradient(45deg, #ff5733, #ffbd69);
    color: white;
}

.btn-primary {
    background-color: #ff5733;
    border: none;
}

.btn-primary:hover {
    background-color: #ffbd69;
    transform: scale(1.1);
}
