*{
    margin:0;
    padding:0;
}

.main{
    width: 100%;
    background: linear-gradient (to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url('OIP.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;

   }
.navbar{
    width:1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
    }

.logo{
    color: #DC582A;
    font-size: 30px;
    font-family: Ariel;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-too: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Ariel;.
    font-weight: bold;
    transition: 0.4s ease-in-out; 
}

ul li a:hover{
    color: #DC582A;
}
