.main{
    min-height: 100vh; /* Ensures it covers the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    text-align: center;
    background-image: url('OIP.jpg');
    background-size: cover;
    background-position: center;
}

.navbar-brand {
    font-weight: bold;
    background-color: #333;
}

.nav-link:hover {
    color: white !important;
    boder: solid
}

p {
    margin-bottom: 20px !important;
    text-align: center !important;
}

header {
    
    color: white;
    width: 80%; /* Adjust as needed */
    max-width: 1200px; /* Prevents it from stretching too wide */
    margin: auto; /* Centers the header */
    text-align: center; /* Ensures text is aligned */
    padding: 20px;
}

.btn-primary {
    background-color: #333; 
    border-line: solid;
}

.btn-primary:hover {
    background-color: #50C878;
    transform: scale(1.1);

}
.navbar-collapse {
    transition: height 0.3s ease-in-out; /* Smooth collapse animation */
}

.logo-container {
    background-color: #333!important;
}


